{% extends "plantilla.html" %}
{% block title %} Boutique | User {% endblock title %}

{% block content %}
    <div class="container">
        <div class="card mt-3">
        <div class="card-header d-flex justify-content-between p-3">
            <div>
                <h1 class="card-title align-items-center">LISTADO DE USUARIOS</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <form action="" method="GET">
                        <div class="input-group">
                            <input type="text" name="buscar" id="buscar" class="form-control" autofocus placeholder="Buscar" value=""><span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-search"></i></button></span>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <table class="table" style="width:100%">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>SuperUsuario</th>
                        <th>Login</th>
                        <th>Nombres</th>
                        <th>Staff</th>
                        <th><center>Opciones</center></th>
                    </tr>
                </thead>
                {% if page_obj %}
                {% for itemusuario in page_obj %}
                <tr>
                    <td>{{ itemusuario.id}}</td>
                    <td>{{ itemusuario.is_superuser}}</td>
                    <td>{{ itemusuario.username }}</td>
                    <td>{{ itemusuario.first_name }} {{ itemusuario.last_name }}</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" onclick="activarUser('{{itemusuario.id}}','{{itemusuario.is_staff}}')" {% if itemusuario.is_staff %} checked {% endif %} >
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td style="text-align: center;">
                        <a href="#" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                        <a href="#" onclick="eliminarUser('{{itemusuario.id}}','{{itemusuario.username}}')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr style="text-align: center;">
                    <td colspan="9">
                        <p>No hay Registros</p>
                    </td>
                </tr>
                {% endif %}
            </table>

            <div class="d-flex justify-content-end pt-2">
                <nav aria-label="pagination-django">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}                    
                            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><<</a></li>                        
                            
                        {% endif %}
                        
                        <li class="page-item"><a class="page-link">Página {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

                        {% if page_obj.has_next %}
                        
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">>></a></li>
                            
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
            "title": "Éxito",
            "text":"{{m}}",
            "icon":"success"
            })
            console.log("{{m}}")
        </script>
    {% endfor %}
    {% endif %}
    <script>
        function eliminarUser(id,descripcion){
            Swal.fire({ "title":"¿Realmente desea eliminar Registro?",
            "text":"Código :"+ id + " - Descripción :" + descripcion,
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No",
            "confirmButtonText":"Si",
            "reverseButton":true,
            "confirmButtonColor":"#dc3545"
            }).then(function(result){ if(result.isConfirmed){
                window.location.replace(window.location.origin+"/usuario/delete/"+id+"/") }
        });
        }

        function activarUser(id,activo){
            let estado;
            if(activo=='False')
                estado=0
            else
                estado=1
                window.location.replace(window.location.origin+"/usuario/active/"+id+"/"+ estado +"/")
        };
</script>
{% endblock js %} 

{% block css %}
    <style>
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    </style>
{% endblock css %}